h1 {
    color: gainsboro;
}
h2 {
    color: white;
    display: flex;
    justify-content: center;
    background-color: #D76D77;
    margin: 20px;
    border-radius: 20px;
}
p {
    color: gainsboro;
}
#info2{
    color: white;
}
#info1{
    color: white;
}
body{
    display: flex;
    height: 100vh;
    margin: 0px;
    justify-content: center;
    text-align: center;
    background: gray
}
#centro{ 
    background-color: fuchsia;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
}
#titulo{
    display: flex;
    justify-content: center;
    background-color: #D76D77;
    margin: 20px;
    border-radius: 20px;
    
}
#texto{
    display: flex;
    flex-direction: column;
    background-color: #D76D77;
    margin: 20px;
    border-radius: 20px;
}
#autores{
    display: flex;
    justify-content: space-around;
}
.redes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #D76D77;
    padding: 16px;
    margin: 20px;
    border-radius: 15px;
}
.subtitulos {
    display: flex;
    justify-content: center;
    color:  gainsboro;
}